/* work sans font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-grey {
    color: #727272;
    font-size: 0.88rem;
    font-weight: 400;
}

.btn-prm {
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #FF900E;
    color: #FFF;
    cursor: pointer;
    border: 0;
    margin-top: 25px;
}

.sec-ttl {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ttl {
    color: #131313;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.bnr-cnt {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.bnr-ttl {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.bnr img {
    margin-top: 40px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

.tm-cnt {
    display: flex;
    align-items: center;
}

.tm-img-cnt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.tm-cntnt {
    padding-left: 55px;
    padding-right: 55px;
}

.tm-ttl {
    font-size: 2.5rem;
}

.tm-ttl .qck {
    color: #727272;
    font-weight: 500;
}

.tm-ttl .ftr {
    color: #FF900E;
    font-weight: 700;
}

.tm-des {
    color: #727272;
    font-size: 0.88rem;
}

/* facts section */
.fct-crd {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
}

.fct-crd .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.crd-stt {
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.crd-ttl {
    color: #727272;
    font-size: 1.11rem;
    font-weight: 600;
}
/* features section styles */
.features{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.ftr-card-h{
    color: #131313;
    font-size: 1.11rem;
    font-weight: 600;
}

.ftr-card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features .tm-ttl{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.ftr-img img{
    margin-left: 80px;
/*     width: 100%;
    height: 90%; */
}

.ftr-btn{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 300px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ftr-btn h2{
    font-size: 3.5rem;
    margin-top: 0;
}

.ftr-btn p{
    font-size: 1.38rem;
}

/* sponsors section styles */
.spnsr{
    text-align: center;
}

.spnsr-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.spnsr-img img{
    width: 165px;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .tm-cnt,
    .fct-crd,
    .spnsr-img {
        flex-direction: column;
    }

    .fct-crd{
        gap: 20px;
    }

    .tm-img-cnt,
    .features {
        grid-template-columns: 1fr;
    }

    main {
        padding-top: 30px;
    }

    .ftr-img img{
        width: 100%;
        margin-left:0;
    }
    .ftr-btn{
     position: static;   
    }
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 35px;
    }

    nav,
    .tm-cnt,
    .spnsr-img {
        flex-direction: column;
    }
}
